MINUTES_APP_ENV=development
MINUTES_HOST=127.0.0.1
MINUTES_PORT=8765
# MINUTES_STATE_ROOT=C:\Users\<you>\MinutesData
# MINUTES_FFMPEG_BIN=C:\ffmpeg-7.1-essentials_build\bin\ffmpeg.exe
# MINUTES_DIARIZATION_ENABLED=false
# MINUTES_PYANNOTE_MODEL=pyannote/speaker-diarization-3.1
# MINUTES_PYANNOTE_AUTH_TOKEN=
# MINUTES_DIARIZATION_DEVICE=auto
# MINUTES_DIARIZATION_NUM_SPEAKERS=
# MINUTES_DIARIZATION_MIN_SPEAKERS=
# MINUTES_DIARIZATION_MAX_SPEAKERS=
# MINUTES_PYANNOTE_METRICS_ENABLED=false